<mat-card>
    <mat-card-header>Switch-{{config.id}}</mat-card-header>
    <mat-card-content *ngIf="rapid_trigger">
        <app-depth-slider label="Actuation Distance" [value]="rapid_trigger!.act" [min]="0.1"></app-depth-slider>
        <br />
        <app-depth-slider label="Release Distance" [min]="0.1" [value]="rapid_trigger!.rel"></app-depth-slider>
        <br />
        <app-depth-slider label="Force actuation point" [value]="rapid_trigger!.f_act"></app-depth-slider>
        <br />
        <app-depth-slider label="Force release point" [value]="rapid_trigger!.f_rel"></app-depth-slider>
    </mat-card-content>

    <mat-card-content *ngIf="static_trigger">
        <app-depth-slider label="Actuation Point" [min]="0.1" [value]="static_trigger!.act"></app-depth-slider>
        <br />
        <app-depth-slider label="Release Point" [min]="0.1" [value]="static_trigger!.rel"></app-depth-slider>
    </mat-card-content>
</mat-card>