<mat-card appearance="outlined">
    <mat-card-header>Group {{config.analog_switch_group_id}}</mat-card-header>

    <mat-card-content *ngIf="config.trigger_type == 'rapid-trigger'">
        <app-depth-slider
            label="Actuation Distance"
            [min]="0.1"
            [(value)]="config.rapid_trigger!.act"
        ></app-depth-slider>
        <br />
        <app-depth-slider
            label="Release Distance"
            [min]="0.1"
            [(value)]="config.rapid_trigger!.rel"
        ></app-depth-slider>
        <br />
        <app-depth-slider
            label="Force actuation point"
            [(value)]="config.rapid_trigger!.f_act"
        ></app-depth-slider>
        <br />
        <app-depth-slider
            label="Force release point"
            [(value)]="config.rapid_trigger!.f_rel"
        ></app-depth-slider>
    </mat-card-content>

    <mat-card-content *ngIf="config.trigger_type == 'static-trigger'">
        <app-depth-slider
            label="Actuation Point"
            [min]="0.1"
            [(value)]="config.static_trigger!.act"
        ></app-depth-slider>
        <br />
        <app-depth-slider
            label="Release Point"
            [min]="0.1"
            [(value)]="config.static_trigger!.rel"
        ></app-depth-slider>
    </mat-card-content>
</mat-card>