<div>
    <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 310 150"
        style="max-height: 200px;"
    >
        <svg:g
            *ngFor="let switch_config of switch_configs"
            (click)="onClickButton(switch_config.switch_id)"
            style="cursor: pointer;"
        >
            <svg:circle
                [attr.cx]="switch_config.x"
                [attr.cy]="switch_config.y"
                [style.stroke]="active_switch_id == switch_config.switch_id ? 'coral' : '#aaa'"
                [style.stroke-width]="active_switch_id == switch_config.switch_id ? '3px' : '1px'"
                [style.fill]="getButtonColor(switch_config.switch_id)"
                r="10"
            />
            <text
                [attr.x]="switch_config.x"
                [attr.y]="switch_config.y"
                font-size="10px"
                text-anchor="middle"
                alignment-baseline="central"
            >
                {{getButtonName(switch_config.switch_id)}}
            </text>
        </svg:g>
    </svg>
</div>