#save-button-container {
    margin-bottom: 8px;
}

.config-panel {
    // flex: 1;
}

.configulator-container {
    display: flex;
    gap: 8px;
}

.switches-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 8px;
}