#save-button-container {
    margin-bottom: 8px;
}

.upper-container {
    display: flex;
}

.board-container {
    flex: 1;
    height: 300px;
}

.button-preview-container {
    flex: 3;
    height: 400px;
}

.configulator-container {
    display: flex;
    gap: 8px;
}

.switches-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 8px;
}