<div id="save-button-container">
    <button
        (click)="Save()"
        mat-flat-button
        color="secondary"
    >
        Save to your Udong
    </button>
</div>

<app-board-buttons
    *ngIf="config"
    class="board-container"
    [config]="config!"
>
</app-board-buttons>

<div
    *ngIf="config"
    class="configulator-container"
>
    <mat-card
        class="group-selector-card config-panel"
        appearance="outlined"
    >
        <mat-card-header>
            <mat-card-subtitle>
                Assign Button Group
            </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content class="switches-container">
            <app-group-selector
                *ngFor="let assignment of config!.analog_switch_assignments"
                [assignment]="assignment"
                [group_ids]="group_ids"
                (selectorClosed)="setActiveGroupId($event)"
            >
            </app-group-selector>
        </mat-card-content>
    </mat-card>

    <app-analog-switch-config
        class="switch-item config-panel"
        [config]="config!.analog_switch_groups[active_group_id]"
    >
    </app-analog-switch-config>
</div>