<div id="save-button-container">
    <button
        (click)="Save()"
        mat-flat-button
        color="secondary"
    >
        Save to your Udong
    </button>
</div>

<ng-container *ngIf="config">
    <app-board-buttons
        class="board-container"
        [config]="config!"
        [active_switch_id]="active_switch_id"
        (activeSwitchIdChanged)="setActiveSwitchId($event)"
    >
    </app-board-buttons>

    <mat-divider style="margin-bottom: 8px"></mat-divider>

    <div
        class="configulator-container"
        matRipple
        [matRippleDisabled]="true"
    >
        <mat-card
            class="group-selector-card config-panel"
            appearance="outlined"
        >
            <mat-card-header>
                <mat-card-subtitle>
                    Analog Switch {{active_switch_id}}
                </mat-card-subtitle>
            </mat-card-header>

            <mat-card-content class="switches-container">
                <!-- Button Selector -->
                <mat-form-field>
                    <mat-label>Button Mapping</mat-label>
                    <mat-select
                        [(value)]="activeButtonAssignment().button_id"
                        [compareWith]="compareValue"
                    >
                        @for (button_id of consts.button_ids; track button_id) {
                        <mat-option [value]="button_id">
                            {{consts.buttonName(button_id)}}
                        </mat-option>
                        }
                    </mat-select>
                </mat-form-field>

                <!-- Config Group -->
                <app-group-selector
                    *ngIf="activeSwitchAssignment() as assign"
                    [assignment]="assign"
                    [group_ids]="group_ids"
                    (selectorClosed)="onGroupSelected()"
                >
                </app-group-selector>

            </mat-card-content>
        </mat-card>

        <app-analog-switch-config
            *ngIf="activeSwitchGroup() as cfg"
            class="switch-item config-panel"
            [config]="cfg"
        >
        </app-analog-switch-config>
    </div>
</ng-container>