#save-button-container {
    margin-bottom: 8px;
}

.config-panel {
    flex: 1;
}

.configulator-container {
    display: flex;
}

.switches-container {
    //display: grid;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}